* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.banner {
  background-color: white;
  margin: 3% auto;
  border-radius: 10px;
  padding: 2%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: green;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: purple;
  width: 99%;
}

#count {
        display: flex;
    width: fit-content;
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
    margin: auto;
}

#start {
  background-color: green;
  color: black;
  font-size: larger;
  font-weight: 500;
  height: fit-content;
  width: 25%;
  /* padding: 1%; */
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
}

#restart {
background-color: green;
  color: black;
  font-weight: 500;
  height: fit-content;
  width: 25%;
  padding: 1%;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
}

#quiz {
  margin: 2% auto;
  width: 80%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f2f2f2;
  /* display: none; */
}

#quiz h2 {
  text-align: center;
  font-size: 2rem;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

#end-screen {  margin: 2% auto;
  width: 80%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f2f2f2;
  /* display: none; */
}

#highScores {
  margin: 2% auto;
  width: 80%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f2f2f2;
  text-align: center;
}

.btn {
  background-color: aliceblue;
  color: black;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

/* .btn:hover {
  background-color: wheat;
} */

#next {
  background-color: white;
  color: black;
  font-weight: 500;
  height: fit-content;
  width: 25%;
  padding: 1%;
  cursor: pointer;
  margin: auto;
  display: none;
}
#next:hover {
  background-color: green;
  color: white;
}


.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: black;
}

.hide {display: none;}
